@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import './mixins.scss';


$primaryColor : #10375C;
$secondaryColor : #FF5722;
$baseColor : #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}