@import '../../Styles/Global.scss';

.container {
    background-color: $primaryColor;
    color: $baseColor;
    padding: 10px;


    .header {

        @include flexRow (center, space-between, 15);
        padding: 10px 30px;

        .sectionOne {
            @include flexCol(flex-start, center, 10);

            .title {
                @include heading();
            }

            .options {
                @include flexRow(center, center, 15);
                @include content();


                div {
                    @include flexRow(center, center);

                    svg {
                        font-size: 40px;
                        margin-top: 3px;
                    }
                }

            }



            .subTitle {
                color: $secondaryColor;

            }

        }


        .mobileMenuicon {
            display: none;
        }

        @media only screen and (max-width: 800px) {


            .mobileMenuicon {
                display: flex;
            }

            .sectiontwo {

                display: none;
            }

            .sectionThree {
                display: none;
            }
        }
    }

    .sectiontwo {

        .navigation {
            @include flexRow(center, space-around, 15);
            @include subheading();
            font-weight: 800;


            .active {
                color: $secondaryColor;
                border-bottom: 1px solid $secondaryColor;
                transition: 0.5s ease;

            }
        }

    }

    .sectionThree {
        @include flexRow(center, center, 10);


        button {
            background: $primaryColor;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            color: $baseColor;
            cursor: pointer;
            @include subheading();
        }

        .signup {
            background-color: $secondaryColor;
            border-radius: 5px;
        }
    }

    .mobileContainer {
        display: none;

        .closeIcon {
            display: none;
           
        }

        @media only screen and (max-width:800px) {
            @include flexCol(flex-start, flex-start, 20);
            height: 100vh;
            width: 100vw;
            background-color: #ccc;
            color: black;
            padding: 50px;
            position: absolute;
            top: 0;
            left: 0;

            .closeIcon {
                display: block;
                cursor: pointer;
                right: 50px;
                color: black;
                position: absolute;
                
            }

            .sectiontwo {
                .navigation {
                    @include flexCol(flex-start, center, 15)
                }
            }

        }

    }

}