@import '../../Styles/Global.scss';
@import '../../Styles/mixins.scss';


.container {
    @include flexCol();

    .sectionOne {
        background-image: url('../../Assets/images/background.png');
        width: 100%;
        min-height: 60vh;
        height: auto;
        background-size: cover;
        padding: 2% 2% 10% 10%;
        @include flexCol(flex-start, center);
        gap: 1rem;
        color: $primaryColor;

        .title {
            @include heading;
            font-size: 3rem;
        }

        .heading {
            @include heading;
        }

        .subHeading {
            @include flexRow(center, center, 5);
            @include subheading;
            color: $secondaryColor;
        }
    }

    .sectionTwo {
        background: #ffede7;
        width: 100%;
        padding-top: 150px;

        .heading {
            @include heading;
            text-align: center;
            padding-top: 2rem;
        }

        .steps {
            @include flexRow(center, space-around, 20);
            padding: 1rem;

            .processConteiner {
                @include flexRow;
                min-height: 15vh;
                min-width: 25%;
                gap: 25px;

                .icon {
                    @include flexRow();
                    gap: 25px;

                    .subSection {
                        @include flexCol(flex-start, center, 10);

                        .subHeading {
                            @include subheading;
                            font-weight: bold;
                        }

                        .content {
                            font-family: "Montserrat", "sans-serif";
                        }
                    }

                }


            }


            @media only screen and (max-width:950px) {
                padding: 2rem;
                @include flexCol(flex-start, center, 25px);

                .processConteiner {
                    flex-direction: column;
                    align-items: flex-start;
                }

                svg {
                    margin-left: 10px;
                    transform: rotate(90deg);

                }
            }
        }

        @media only screen and (max-width:500px) and (max-height:650px) {
            padding-top: 50px;
        }


    }

    .sectionThree {
        background: #ffede7;
        width: 100%;
        @include flexCol();
        gap: 1rem;
        min-height: 15vh;
        position: relative;

        .banner {
            width: 80%;
            color: $baseColor;
            background-color: $primaryColor;
            padding: 1rem;
            border-radius: 10px;
            position: absolute;
            bottom: 18rem;
            min-height: 15vh;

            .heading {
                @include heading;
            }


            @media only screen and (max-width:400px) and (max-height:700px) {
                min-height: 30vh;
                bottom: 30rem;
            }

            @media only screen and (max-width:950px) and (max-height:900px) {
                min-height: 20vh;
                bottom: 30rem;
            }

            @media only screen and (max-width:800px) and (max-height:700px) {
                min-height: 30vh;
                bottom: 30rem;
            }

            @media only screen and (max-width:600px) and (max-height:950px) {
                min-height: 40vh;
                bottom: 35rem;
            }

            @media only screen and (max-width:600px) and (max-height:750px) {
                min-height: 50vh;
                bottom: 28rem;
            }


        }
    }
}